/*
* @updated		07/2012
* @author		Roy Scheepens / Goal043
* @file 		layout.less
* @project		TeKoopBovenstePuth10
* --------------------------------------------------------------------------------------------------*/	

/**
* =vars
* @section Variables
* --------------------------------------------------------------------------------------------------
*/

	@textColor: #555;
	@linkColor: #d0a884;

	@lightBrown: #846a3f;
	@darkBrown: #2c2a24;


/**
* =typography
* @section Fonts
* --------------------------------------------------------------------------------------------------
*/
	
	// PT Serif
	@font-face {
	  font-family: 'PT Serif';
	  font-style: normal;
	  font-weight: 400;
	  src: local('PT Serif'), local('PTSerif-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptserif/v4/sDRi4fY9bOiJUbgq53yZCfesZW2xOQ-xsNqO47m55DA.woff) format('woff');
	}

	@font-face {
	  font-family: 'PT Serif';
	  font-style: italic;
	  font-weight: 400;
	  src: local('PT Serif Italic'), local('PTSerif-Italic'), url(http://themes.googleusercontent.com/static/fonts/ptserif/v4/03aPdn7fFF3H6ngCgAlQzBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
	}

	@font-face {
	  font-family: 'PT Serif';
	  font-style: normal;
	  font-weight: 700;
	  src: local('PT Serif Bold'), local('PTSerif-Bold'), url(http://themes.googleusercontent.com/static/fonts/ptserif/v4/QABk9IxT-LFTJ_dQzv7xpIbN6UDyHWBl620a-IRfuBk.woff) format('woff');
	}

	// PT Sans
	@font-face {
	  font-family: 'PT Sans';
	  font-style: italic;
	  font-weight: 400;
	  src: local('PT Sans Italic'), local('PTSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v4/PIPMHY90P7jtyjpXuZ2cLD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
	}
	@font-face {
	  font-family: 'PT Sans';
	  font-style: normal;
	  font-weight: 400;
	  src: local('PT Sans'), local('PTSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v4/LKf8nhXsWg5ybwEGXk8UBQ.woff) format('woff');
	}
	@font-face {
	  font-family: 'PT Sans';
	  font-style: normal;
	  font-weight: 700;
	  src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v4/0XxGQsSc1g4rdRdjJKZrNBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
	}

	// Open Sans
	@font-face {
	  font-family: 'Open Sans';
	  font-style: normal;
	  font-weight: 300;
	  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
	}
	@font-face {
	  font-family: 'Open Sans';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
	}


/**
* =clearix
* @section Clearfix
* @source http://nicolasgallagher.com/micro-clearfix-hack/
* --------------------------------------------------------------------------------------------------
*/
	
	.clearfix {
		*zoom:1;
		&:before { content: ""; display: table; }
		&:after { content: ""; display: table; clear: both; }
	}

/**
* =general
* @section Base
* --------------------------------------------------------------------------------------------------
*/

	body {
		font: 400 16px/1.8 "PT Serif", sans-serif;
		background: #fff;
		color: @textColor;
		-webkit-text-stroke: 1px #000 transparent;
		-webkit-font-smoothing: antialiased; // Fix for webkit rendering	
	}

	h1, h2, h3, h4, h5, h6 {
		color: #2c2a24;
		font-weight: normal; 
		text-shadow:0 1px 0 #fff, 0 3px 0 #dedede;
	}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }


	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
	.subheader { color: #777; }

	p { margin: 0 0 20px 0; text-shadow:0 1px 0 #fff, 0 2px 0 #e5e5e5; }
	p img { margin: 0; }
	p.lead { font-size: 120%;  }

	em { font-style: italic; }
	strong { font-weight: bold; color: #333; }
	small { font-size: 80%; }

	address { font-style:normal; }

	a, a:visited { color: @linkColor; text-decoration: none; outline: 0; }
	a:hover, a:focus { color: #000; }
	p a, p a:visited { line-height: inherit; }

	.scale-with-grid { max-width: 100%; height: auto; }

	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }


/**
* =container
* @section Base
* --------------------------------------------------------------------------------------------------
*/

	header {
		position:relative;
		z-index:100;
		background:#fff;
		text-align:center;
		.box-shadow(0 3px 7px rgba(0,0,0,0.1));
		padding:40px 0;

		.for-sale {
			display:block;
			font-size:22px;
			color:#aaa;
			text-transform:uppercase;
			margin-bottom:10px;
		}

		h1 {
			margin:0;

			font-size: 58px; 
			font-weight:700;
			line-height: 58px;
			text-transform:uppercase;

			.subheader {
				color:#999;
				text-transform:none;
				font-weight:400;
				font-size:32px;
				line-height:32px;
				padding:10px 0;
				text-shadow:none;
			}
		}

		figure {
			.clearfix;
			display:block;
			
			margin:0 auto;
			padding:20px 0;
			img {
				display:block;
				width:260px;
				margin:20px 30px;

				float:left;
				.border-radius(130px);
				.box-shadow(0 1px 0 #fff, 0 3px 6px #ccc);

				&.middle {
					margin:20px 20px;
					// margin:0 20px;
				}
			}
		}

		a, a:visited {

			display:inline-block;
			padding:10px 16px;
			background:@darkBrown;
			margin:10px 10px 0;
			color:#fff;
			.border-radius(4px);
			font-size:18px;
			.animate(all .2s ease);

			&:hover {
				background:@lightBrown;
				color:@darkBrown;
			}
		}

	}

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

		header {

			figure {

				img {
					width:210px;
					margin:20px 18px;
				}

				&.middle {
					margin:20px 0;
					// margin:0 20px;
				}

			}

		}

	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {

		header {

			figure {
				width:100%;
				text-align:center;

				img {
					float:none;
					display:inline-block;
				}
			}

		}


	}

/**
* =links
* @section Links
* @note Horizontally centered ul, see http://pmob.co.uk/pob/centred-float.htm
* --------------------------------------------------------------------------------------------------
*/

	#links {
		position:fixed;
		z-index:90;
		top:0;

		width:100%;
		height:50px;
		background:rgba(255,255,255,0.8);

		div {
			margin:0 auto;
	        width:100%;
	        height:50px;
	        text-align:center;		
		}

		ul { margin:0; padding:0; }
		li { display:inline; margin-left:0; }
		
		a, a:visited {
 			display:inline-block;
 			margin:0 10px;
         	width:auto;
         	height:36px;
         	line-height:36px;
			color:@darkBrown;
			padding:0 12px;
			position:relative;
			top:6px;

			.border-radius(2px);
			.animate(all .2s ease);

			&:hover {
				background:#ededed;
			}

			&.active {
				background:@darkBrown;
				color:#fff;
			}

		}


	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 767px) {

		// not interesting for mobile
		#links { display:none; }

	}

/**
* =general
* @section Base
* --------------------------------------------------------------------------------------------------
*/

	#more {

		position:relative;
		z-index:80;

		background:#f5f2ed;

		h2 { 
			display:block;
			width:100%;
			margin-bottom:20px;
			
			font-size: 52px; 
			line-height: 52px; 
			text-align:center;
		}

		h3 { 
			font-size: 28px; 
			line-height: 34px; 
			margin-bottom: 8px; 
		}

		figure {
			display:block;
			padding:10px;
			background:#fff;
			border: 1px solid lighten(@lightBrown, 50%);
			.box-shadow(0 3px 6px rgba(0,0,0,0.1));
			margin-bottom:20px;
			img { 
				.scale-with-grid;
				display:block;
			}
		}

		section {
			// equals height of links box + 20px
			padding-top:50px;
		}


		dl {
			padding:20px 0;
			dt {
				color:@darkBrown;
				font-weight:bold; 
			}
			dd { 
				padding:0;
				margin:0;
				margin-bottom:10px;
			}

		}

	}


	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {

		#more {

			dl {
				text-align:center;
			}

		}

	}


/**
* =contact
* @section Contact
* --------------------------------------------------------------------------------------------------
*/

	#contact {

		position:relative;
		z-index:110;

		background:@darkBrown;
		.box-shadow(inset 0 6px 12px rgba(0,0,0,0.3));

		// padding:40px 0 0;
		text-align:center;
		
		color:#f5f2ed;

		.sixteen.columns {
			padding-bottom:40px;
		}

		p {
			text-shadow:0 1px 0 @darkBrown, 0 2px 0 darken(@darkBrown, 10%);
			&.lead { font-size:150%; color:#fff; padding-top:40px; }
		}

		h2 { 
			color:#fff;
			text-shadow:0 2px 0 @darkBrown, 0 4px 0 darken(@darkBrown, 10%);
			margin-bottom:20px;
			
			font-size: 52px; 
			line-height: 52px; 
			text-align:center;
		}	

		a, a:visited {
			display:block;
			font-size:20px;
			&:hover {
				color:#fff;
			}
		}

		figure {
			display:block;
			width:260px;
			margin:0 auto;
			padding:20px 0 0;
			img { display:block; .border-radius(130px); }
		}

	}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}